#primary {
  .logo {
    width: 100px;
  }

  /* div {
    display: flex;
    align-items: center;
    gap: 8px;
  } */

}

.horizontal {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  a {
    white-space: nowrap;
  }
}

/* #secondary {
  padding-block: 14px;
  border: solid 1px var(--stroke-color);
  border-inline: none;
  justify-content: space-between;
} */

@media (width >= 80em){
  #primary {
    & .logo {
      width: 160px;
    }
  }
}